<header>
    <span class="brand"><img src="img/brand.png" height="122px" width="122px" /></span>
    <h1>Keep my Discover Weekly</h1>
</header>

<p>{{message}}</p>

<a href="/" class="btn">Go back</a>