<header>
    <span class="brand"><img src="img/brand.png" height="122px" width="122px" /></span>
    <h1>Keep my Discover Weekly</h1>
    <p>Automatically archives your Discover</p>
    <p>Weekly playlist for you</p>
</header>

<a href="/login" class="btn">Login with Spotify</a>